{% extends 'grid/base.html' %}
{% load static from staticfiles %}

{% block header %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'grid/css/index.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'grid/css/gridster/jquery.gridster.min.css' %}">
{% endblock header %}

{% block js %}
	<script type="text/javascript" src="{% static 'grid/js/vendor/jquery.gridster.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'grid/js/vendor/jquery.isotope.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'grid/js/vendor/jquery.imagesloaded.min.js' %}"></script>
	<script type="text/javascript" src='{% static 'grid/js/vendor/hammer.js' %}'></script>
		<!-- include these -->
	
	<link rel="stylesheet" href="{% static 'grid/css/smoke/smoke.css' %}" type="text/css" media="screen" />  
	<script src="{% static 'grid/js/vendor/smoke.min.js' %}" type="text/javascript"></script>
	
	<!-- you only need this if you want to include a theme...duh -->
	<link id="theme" rel="stylesheet" href="{% static 'grid/css/smoke/themes/default.css' %}" type="text/css" media="screen" />


	<script type="text/javascript" data-main="{% static 'grid/js/app/index_app.js' %}" src='{% static 'grid/js/vendor/require.js' %}'></script>

	<script type="text/javascript" src="{% static 'grid/js/app/index.js' %}"></script>
	<!-- <script type="text/javascript" src='{% static 'grid/js/app/gridding.js' %}'></script> -->
	<script type="text/javascript" src='{% static 'grid/js/app/model.js' %}'></script>
	<script type="text/javascript" src='{% static 'grid/js/app/page.js' %}'></script>
	<!-- <script type="text/javascript" src='{% static 'grid/js/app/Widget.js' %}'></script> -->

	<!-- <script type="text/javascript" src='{% static 'grid/js/index.js' %}'></script>
	<script type="text/javascript" src='{% static 'grid/js/Widget.js' %}'></script>
	<script type="text/javascript" src='{% static 'grid/js/Weather-widget.js' %}'></script> -->
{% endblock js %}

{% block gravel-templates %}
	<div class="cacheImageContainer"></div>
	<div class="add-widget">
		<h2 class="title">Add a Widget</h2>
		<p>A widget is a single component on your dashboard. it's easy!
			<ul>
				<li><a href="javascript:;">Title</a></li>
				<li><a href="javascript:;">Icon</a></li>
				<li><a href="javascript:;">Size</a></li>
				<li><a href="javascript:;">Content</a></li>
			</ul>
		</p>
	</div>
{% endblock gravel-templates %}

{% block main %}
<div class="gridster">
    <ul>
        <!--<li data-row="1" data-col="1" data-sizex="1" data-sizey="1"></li>
        <li data-row="2" data-col="1" data-sizex="1" data-sizey="1"></li>
        <li data-row="3" data-col="1" data-sizex="1" data-sizey="1"></li>-->
    </ul>
</div>

<a href="javascript:;" class='add-button'>Add</a>

<div class="tools">
	<ul>
		<!-- <li>Color <input type="text" id='color' /></li> -->
	</ul>
</div>
{% endblock %}
