<!DOCTYPE html>
<html>
    <body>
    <!-- List of uploaded documents -->
    {% if widgets %}
        <ul>
        {% for document in widgets %}
            <li><a href="">{{ document }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No widgets.</p>
    {% endif %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url list %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form }}</p>
          
            <p><input type="submit" value="Upload" /></p>
        </form>
    </body>
</html>