
{% extends 'grid/widget-frame.html' %}
{% block page %}
    <div class="main">
        <h1>Add a widget</h1>
        <ol class="buttons">
            {% for widget in widgets %}
            <li>
                <a href="javascript:;" data-path="{{ widget.path }}" data-pk='{{ widget.pk }}' data-endpoint='{{ widget.unpack }}' data-name='{{ widget.name }}' class='widget-interface-button eq0'>{{ widget.name }}</a>
            </li>
            {% endfor %}
        </ol>
    </div>
{% endblock %}