
{% extends 'grid/widget-frame.html' %}
{% block header_css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ path }}/css/main.css" media="all">
{% endblock %}
{% block page %}
    <div class="main">
        <h1>Add a widget</h1>
        <ol class="buttons">
            {% for widget in widgets %}
            <li>
                <img src="{% if widget.icon %}{{ widget.icon }}{% else %}{{ path }}/icons/star.svg{% endif %}" alt="">
                <a href="javascript:;" data-path="{{ widget.path }}" data-pk='{{ widget.pk }}' data-endpoint='{{ widget.unpack }}' data-name='{{ widget.name }}' class='widget-interface-button eq0'>{{ widget.name }}</a>
            </li>
            {% endfor %}
        </ol>
    </div>
{% endblock %}